
<table>
    <tr>
        <td>
            <label for="modList">Available Mods:</label>
        </td>
        <td>
            <select name="modList" [(ngModel)]="selectedMod" (change)="submit()">
                <option value="-1"></option>
                <option *ngFor="let mod of modList" [value]="mod.modId">{{mod.name}} - {{mod.version}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="modName">Mod Name</label>
        </td>
        <td>
            <input type="text" id="modName" (keyup.enter)="submit()">
        </td>
    </tr>
    <tr>
        <td>
            <label for="modVersion">Mod Version</label>
        </td>
        <td>
            <input type="text" id="modVersion" (keyup.enter)="submit()">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button type="submit" (click)="submit()">Submit</button>
        </td>
    </tr>
</table>

<div *ngIf="errorText">
    <h1 style="color:red">{{errorText}}</h1>
</div>

<div *ngIf="loaded === 'loading'">
    <h1 style="color:darkgreen">Loading...</h1>
</div>

<div *ngIf="loaded === 'loaded' && modData">
    <h1 id="start">Mod: {{modData.modMetadata.modId ?? ''}} - {{modData.modMetadata.name}} ({{modData.modMetadata.version}})<span *ngIf="modData.modMetadata.expired"> (Exp: {{modData.modMetadata.expired}})</span></h1>
    <h3>
        <ul>
            <li *ngFor="let name of ['Metadata', 'Units', 'Weapons', 'Terrains', 'Movement Classes', 'Movement Rules', 'Passive Unit Effects', 'Active Unit Effects', 'Passive Terrain Effects', 'Active Terrain Effects', 'Passive Global Effects', 'Active Global Effects', 'Commanders', 'Players', 'Default Settings', 'Config']">
                <a
                [href]="'modChecker#' + name"
                rel="noopener"
                >
                    {{name}}
                </a>
            </li>
        </ul>
    </h3>
    <app-data-checker-table [name]="'Metadata'" [data]="[modData.modMetadata]" [refdata]="[]"></app-data-checker-table>
    <app-data-checker-table [name]="'Units'" [data]="modData.units" [refdata]="[modData.units, modData.weapons, modData.movements, classificationTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Weapons'" [data]="modData.weapons" [refdata]="[modData.units, modData.weapons]"></app-data-checker-table>
    <app-data-checker-table [name]="'Terrains'" [data]="modData.terrains" [refdata]="[modData.terrains, modData.units, modData.activeUnitEffects, modData.activeTerrainEffects, modData.activeGlobalEffects]"></app-data-checker-table>
    <app-data-checker-table [name]="'Movement Classes'" [data]="modData.movements" [refdata]="[modData.movements, modData.terrains, variantTypes, modData.movementRules]"></app-data-checker-table>
    <app-data-checker-table [name]="'Movement Rules'" [data]="modData.movementRules" [refdata]="[modData.movements]"></app-data-checker-table>
    <app-data-checker-table [name]="'Passive Unit Effects'" [data]="modData.passiveUnitEffects" [refdata]="[modData.passiveUnitEffects, modData.units, modData.terrains, classificationTypes, variantTypes, targetTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Active Unit Effects'" [data]="modData.activeUnitEffects" [refdata]="[modData.activeUnitEffects, modData.units, modData.terrains, classificationTypes, targetTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Passive Terrain Effects'" [data]="modData.passiveTerrainEffects" [refdata]="[modData.passiveTerrainEffects, modData.units, modData.terrains, classificationTypes, targetTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Active Terrain Effects'" [data]="modData.activeTerrainEffects" [refdata]="[modData.activeTerrainEffects, modData.units, modData.terrains, targetTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Passive Global Effects'" [data]="modData.passiveGlobalEffects" [refdata]="[modData.passiveGlobalEffects, variantTypes, targetTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Active Global Effects'" [data]="modData.activeGlobalEffects" [refdata]="[modData.activeGlobalEffects, targetTypes, missileTargetTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Commanders'" [data]="modData.commanders" [refdata]="[modData.commanders, modData.passiveUnitEffects, modData.activeUnitEffects, modData.passiveTerrainEffects, modData.activeTerrainEffects, modData.passiveGlobalEffects, modData.activeGlobalEffects]"></app-data-checker-table>
    <app-data-checker-table [name]="'Players'" [data]="modData.players" [refdata]="[modData.players, modData.commanders]"></app-data-checker-table>
    <app-data-checker-table [name]="'Default Settings'" [data]="modData.defaultSettings" [refdata]="[modData.defaultSettings, modData.players, modData.commanders, variantTypes]"></app-data-checker-table>
    <app-data-checker-table [name]="'Config'" [data]="[modData.config]" [refdata]="[]"></app-data-checker-table>
</div>