<table>
    <tr>
        <th *ngFor="let propertyName of propertyNames">
            {{propertyName}}
        </th>
    </tr>
    <tr *ngFor="let object of data">
        <td *ngFor="let propertyName of propertyNames">
            <app-data-checker-renderer 
                [object]="object[propertyName]" 
                [propertyName]="propertyName" 
                [dataSource]="data" 
                [refdata]="refdata">
            </app-data-checker-renderer>
        </td>
    </tr>
</table>