table {
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	align-self: center;
}
td {
	border: 1px solid;
	border-color: gray;
	padding: 5px;
}
th {
	font-size: small;
	font-variant: small-caps;
}
ul, ol {
	padding-left: 18px;
}
div {
	display: inline;
}
a .found {
	color: rgb(0, 192, 192);
}
.small {
	font-size:x-small;
}
.found {
	color: rgb(0, 192, 192);
}
.suspect {
	color: darkgoldenrod;
}
.missing {
	color: red;
	font-weight: bold;
}
.raw {
    font-family:'Courier New', Courier, monospace;
    background-color:lightgray;
}