<div *ngIf="loaded; else NotLoaded">
    Cursor: &lt;{{cursorLocation?.x ?? ''}},{{cursorLocation?.y ?? ''}}&gt;
    <span *ngIf="selectedLocation != null">Selected: &lt;{{selectedLocation.x}},{{selectedLocation.y}}&gt;</span>
    
    <div class="mapContainer" [style]="mapContainerStyle">
        <div class="map" [style]="mapStyle">
            <unit-renderer 
                *ngFor="let unitState of units" 
                [unitState]="unitState.value" 
                [imageResources]="images" 
                [playerStates]="players" 
                [gameStateRenderer]="this"
                [isSelected]="unitState.value === selectedUnit"
                >
            </unit-renderer>
            <terrain-renderer 
                *ngFor="let terrainState of terrains" 
                [terrainState]="terrainState.value" 
                [imageResources]="images" 
                [playerStates]="players" 
                [gameStateRenderer]="this"
                >
            </terrain-renderer>
            <span *ngIf="movementChain != null">
                <interface-renderer 
                    *ngFor="let interfaceState of movementChain" 
                    [interfaceState]="interfaceState" 
                    [imageResources]="images" 
                    [textResources]="texts" 
                    [gameStateRenderer]="this"
                    [layerOffset]="1"
                    >
                </interface-renderer>
            </span>
            <span *ngIf="movementRange != null">
                <interface-renderer 
                    *ngFor="let interfaceState of movementRange" 
                    [interfaceState]="interfaceState" 
                    [imageResources]="images" 
                    [textResources]="texts" 
                    [gameStateRenderer]="this"
                    [layerOffset]="0"
                    >
                </interface-renderer>
            </span>
            <span *ngIf="targets != null">
                <interface-renderer 
                    *ngFor="let interfaceState of targets" 
                    [interfaceState]="interfaceState" 
                    [imageResources]="images" 
                    [textResources]="texts" 
                    [gameStateRenderer]="this"
                    [layerOffset]="-20"
                    >
                </interface-renderer>
            </span>
            <hover-panel-renderer 
                [imageResources]="images" 
                [textResources]="texts"
                [terrainState]="hoveredTerrain"
                [unitState]="hoveredUnit"
                [unitData]="unitTypes"
                [terrainData]="terrainTypes"
                [playerStates]="players"
                [gameStateRenderer]="this"
                >
            </hover-panel-renderer>
        </div>
    </div>
</div>
<ng-template #NotLoaded>
    <span *ngIf="loaded === null; else FailedToLoad">
        <em>Now Loading...</em>
    </span>
    <ng-template #FailedToLoad>
        <strong style="color:red;">Unable to Load Game</strong><br>
        <span style="color:red;">{{error}}</span>
    </ng-template>
</ng-template>