.mapContainer {
    display:flex;
    position:relative;
    user-select:none;
}

.map {
    display:flex;
    position:absolute;
}

.main {
    margin:auto;
    width:50%;
    overflow-y:auto;
    scrollbar-width:none;
}

// select {
//   display:none;
// }