<div class="hoverPanel" [style]="hoverStyle">
    <div *ngIf="terrainState" style="top:0px;position:absolute;">
        <terrain-renderer
            [gameStateRenderer]="gameStateRenderer"
            [terrainState]="terrainState"
            [playerStates]="playerStates"
            [imageResources]="imageResources"
            [ignorePosition]="true"
        >
        </terrain-renderer>
        <span style="left:18px;position:absolute;">{{terrainName}}</span>
    </div>
    <div *ngIf="unitState" style="top:24px;position:absolute;">
        <unit-renderer
            [gameStateRenderer]="gameStateRenderer"
            [unitState]="unitState"
            [playerStates]="playerStates"
            [imageResources]="imageResources"
            [ignorePosition]="true"
        >
        </unit-renderer>
        <span style="left:18px;position:absolute;">{{unitName}}</span>
    </div>
</div>