.terrain {
    position:absolute;
}

.unit {
    position:absolute;
    cursor:pointer;
}

.interface {
    position:absolute;
}

img {
    pointer-events:none;
    //-webkit-touch-callout: none;
}

.hoverPanel {
    background-color:darkslategray;
    color:white;
    border:1px;
    border-color:black;
    position:absolute;
    min-width:128px;
    min-height:48px;
    font-size:smaller;
    font-family:'Courier New', Courier, monospace;
    bottom:0;
}

.hoverLeft {
  left:0;
}

.hoverRight {
  right:0;
}